<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>FetchAll</display-name>
    <servlet-name>FetchAll</servlet-name>
    <servlet-class>com.details.FetchAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAll</servlet-name>
    <url-pattern>/FetchAll</url-pattern>
  </servlet-mapping>
  <display-name>CRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.crud.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployee</display-name>
    <servlet-name>EditEmployee</servlet-name>
    <servlet-class>com.operations.EditEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployee</servlet-name>
    <url-pattern>/EditEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditData</display-name>
    <servlet-name>EditData</servlet-name>
    <servlet-class>com.operations.EditData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditData</servlet-name>
    <url-pattern>/EditData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmp</display-name>
    <servlet-name>DeleteEmp</servlet-name>
    <servlet-class>com.operations.DeleteEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmp</servlet-name>
    <url-pattern>/DeleteEmp</url-pattern>
  </servlet-mapping>
</web-app>